* { margin: 0; padding: 0; box-sizing: content-box; }
body { font: 18px Helvetica, Arial; background-color: rgb(239,60,0);}
form {
  padding: 3px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -400px;
  width: 100%;
  height: 50%;
  max-width: 800px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
  box-sizing:           border-box;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #fefefe;
}
h1 {
  margin-bottom: 32px;
  color: #fefefe;
}
form input {
  border: none;
  padding: 10px;
  width: 50%;
  margin-right: .5%;
  border-right: 8px solid rgb(239,60,0);
  height: 23px;
  outline: none;
}
form button {
  width: 25%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  font-size: 20px;
  vertical-align: bottom;
  color: #444;
  outline: none;
}
form button:disabled {
  background: #aaa;
  color: #aaa;
  position: relative;
}
form button:disabled:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #444;
  padding-top: 10px;
  content: 'Waiting..';
}
#messages {
  list-style-type: none;
  margin-bottom: 32px;
  color: white;
  width: 80%;
  margin-left: 10%;
}
#messages li {
  padding: 5px 10px;
  font-size: 32px;
}
@media only screen and (max-width: 800px) {
  form {
    left: 0;
    right: 0;;
    margin: 0;
  }
  h1 {
    font-size: 50px;
  }
  #messages {
    width: 90%;
    margin-left: 5%;
  }
}
