body {
  font: 18px helvetica;
  background-color: rgb(239,60,0);
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #fefefe;
}

ul li { list-style-type: none; }

.main-container {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -400px;
  width: 100%;
  height: 50%;
  max-width: 800px;
}

.app .app-container,
.waiting .waiting-container,
.message .message-container {
  opacity: 1;
  pointer-events: all;
  max-height: 100%;
  -moz-transition: all .3s .5s ease-in;
  -webkit-transition: all .3s .5s ease-in;
  -o-transition: all .3s .5s ease-in;
  transition: all .3s .5s ease-in;
}

.app-container,
.waiting-container,
.message-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

h1 {
  margin-bottom: 32px;
  color: #fefefe;
}

.button-container {
  position: relative;
  margin-top: 32px;
  display: block;
}

button {
  width: 23%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  vertical-align: bottom;
  color: #444;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
}

#messages {
  list-style-type: none;
  color: white;
  width: 100%;
  padding: 0 0 32px 0;
}

#messages .hand {
  padding: 5px 10px;
  font-size: 28px;
  min-height: 24px;
  margin-bottom: 24px;
}

.instructions {
  font-size: 18px;
}

#messages .points,
#messages .players {
  width: 20%;
  float: left;
  display: inline;
  padding: 5px 10px;
}

#messages .players {
  width: 50%;
  text-align: right;
  float: right;
  margin-right: 24px;
}

.waiting-container svg {
  margin-top: 0px;
}

.intro .waiting-container p {
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .main-container {
    left: 0;
    right: 0;;
    margin: 0;
  }
  #messages {
    width: 100%;
  }
  body            { font-size: 14px; }
  h1              { font-size: 28px; }
  button          { font-size: 18px; }
  #messages .hand { font-size: 24px; }
}
